
.grey-box {
    background: #FFFAFA;
    font-size: 12px;
    padding: 20px; 
    color: #333333;
    font-family: Arial;
    border-radius: 10px;
    text-align: left;
    margin: 15px;
  }
  
  .mini-grey-box {
    background: #888181;
    padding: 7px; 
    color: #FFFFFF;
    font-family: Arial;
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .holder {
    display: block;
  }